<main>
    <div class="container">
    <h1><%= title %></h1>

<p>Mobile: (437) 233-8015</p>
      <span class="auto-style2"><em>Email</em>:<a href="mailto:shahriartanvir75@gmail.com">shahriartanvir75@gmail.com</a></span>
<p></p>
<span class="auto-style2"><em>LinkedIn</em>:<a href="https://www.linkedin.com/in/shahriar-tanvir-a64925123/">Click Here</a></span>
  </div>
  </main>