<main>
    <div class="container">
    <h1><%= title %></h1>
    <ul>
      <li>E-commerce Website</li>
      <li>Courier Tracking Application</li>
      <li>Banking Application</li>

      </ul>
  </div>
  </main>