<main>
    <div class="container">
    <h1><%= title %> Offer</h1>

      <ul>
        <li>Software Development</li>
        <li>Web Application</li>
        <li>Database Management</li>       
        </ul>


  </div>
  </main>